


body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  
  background-repeat: no-repeat;
background-position: center ;
margin-top: 4.5%;
  background-image: url("../Images/naslovna.jpg")  ;
  min-height: 100%;

  opacity: 0.8;
}

.w3-bar .w3-button {
  padding: 16px;
}


#logo{
    font-family:'Great Vibes';
    font-size: 24px;
    font-weight: bold
}

#logo:hover{
    color:yellow !important
}

#meni{
    font-size: 18px;
    font-weight: bold;

}

#meni:hover{
    font-weight: bold;
   
}

.ikonafooter:hover{
    color:yellow !important;
    
}
.oNama{
    text-align:center;
     width:60%; 
     margin:0 auto;
     letter-spacing: 1px;
}

.oNamaSlika{
    letter-spacing: 1px;

}


#myBtn{
    display: none;
    position: fixed;
    bottom: 3%;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px; 
    width:40px
}

#myBtn:hover {
    background-color: rgba(247, 247, 17, 0.815)
  }


  .w3-large{
      font-weight: bold;
  }
  #w3-quarter-hover:hover
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: white;
    
}

  .w3-center{
    font-weight: bold;
  }





  

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #CBCECF 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}


.LejlaTekst{
  font-size:16px;
  letter-spacing: 1px;
  text-align: justify; 
  color:black;
}

/*
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.LejlaTekst, .oNama, .naslov, .oNamaSlika {
  animation-name: example;
  animation-duration: 6s;
}
*/



.lejlacard{
  font-weight: bold; 
  font-style: italic; 
  letter-spacing: 2px;
}
 
.brojacTekst{
  font-weight: bold; 
  letter-spacing: 2px;
}

@media only screen and (max-width: 900px){
 .w3-card-4 {
    margin-top:2% !important;
    width:90% !important;

  }
  .brojac{
    margin-top:5%;
    width:25%;
    font-size: 12px !important;
  }

  .brojacTekst {
  font-size: 18px !important;
  }

  .w3-xxlarge{
    font-size: 22px !important;
    }
}

.naslov{
  letter-spacing: 2px;
}

.kontakt{
  font-size: 16px;
  letter-spacing: 1px;
}

hr{
  border-width: 2px;
}
div.gallery img {
  width: 300;
  height: 300;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.row{
  box-sizing: border-box;
}


/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 60%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
  }
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  margin-left:15%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


.ambasadoriceTekst{
  font-size: 20px;
  text-align: center;
  margin-top:10%;
  margin-right: 10%;
  font-style: italic;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:focus{
  background-color: coral;
}

#dropdown-content {
  display: none;
  /*position: absolute;*/
 
}

.show {display:block;}