


body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  
  background-repeat: no-repeat;
background-position: center ;
margin-top: 4.5%;
  background-image: url("../Images/naslovna.jpg")  ;
  min-height: 100%;

  opacity: 0.8;
}

.w3-bar .w3-button {
  padding: 16px;
}


#logo{
    font-family:'Great Vibes';
    font-size: 24px;
    font-weight: bold
}

#logo:hover{
    color:yellow !important
}

#meni{
    font-size: 18px;
    font-weight: bold;

}

#meni:hover{
    font-weight: bold;
   
}

.ikonafooter:hover{
    color:yellow !important;
    
}
.oNama{
    text-align:center;
     width:60%; 
     margin:0 auto;
     letter-spacing: 1px;
}

.oNamaSlika{
    letter-spacing: 1px;

}


#myBtn{
    display: none;
    position: fixed;
    bottom: 3%;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px; 
    width:40px
}

#myBtn:hover {
    background-color: rgba(247, 247, 17, 0.815)
  }


  .w3-large{
      font-weight: bold;
  }
  #w3-quarter-hover:hover
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: white;
    
}

  .w3-center{
    font-weight: bold;
  }





  

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #CBCECF 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
