


body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  
  background-repeat: no-repeat;
background-position: center ;
margin-top: 4.5%;
  background-image: url("../Images/naslovna.jpg")  ;
  min-height: 100%;

  opacity: 0.8;
}

.w3-bar .w3-button {
  padding: 16px;
}


#logo{
    font-family:'Great Vibes';
    font-size: 24px;
    font-weight: bold
}

#logo:hover{
    color:yellow !important
}

#meni{
    font-size: 18px;
    font-weight: bold;

}

#meni:hover{
    color:yellow !important;
    font-weight: bold;
}

.ikonafooter:hover{
    color:yellow !important;
    
}

.oNama{
    text-align:center;
     width:60%; 
     margin:0 auto;
     letter-spacing: 1px;
}

.oNamaSlika{
    letter-spacing: 1px;

}

#myBtn{

    display: none;
    position: fixed;
    bottom: 3%;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px; 
    width:40px
}

#myBtn:hover {
    background-color: rgba(247, 247, 17, 0.815)
  }


  .w3-large{
      font-weight: bold;
  }


  .w3-center{
    font-weight: bold;
  }

